# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
setuptools
dbt-core==1.8.3
dbt-clickhouse==1.8.0
astronomer-cosmos